In [23]:
import pandas as pd
import numpy as np
import math
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import classification_report

In [24]:
data = pd.read_csv('C://Users/alex1/Downloads/titanic/gender_submission.csv')

train = pd.read_csv('C://Users/alex1/Downloads/titanic/test.csv')
data_copy = data.copy()
train_copy = train.copy()

In [25]:
print(train_copy['Age'])
medium_age = train_copy['Age'].mean()
def age(example):
    if math.isnan(example):
        return medium_age
    else:
        return int(round(example))
train_copy['Age'] = train_copy['Age'].apply(age)
train_copy['Age']

0      34.5
1      47.0
2      62.0
3      27.0
4      22.0
       ...
413     NaN
414    39.0
415    38.5
416     NaN
417     NaN
Name: Age, Length: 418, dtype: float64

0      34.00000
1      47.00000
2      62.00000
3      27.00000
4      22.00000
         ...
413    30.27259
414    39.00000
415    38.00000
416    30.27259
417    30.27259
Name: Age, Length: 418, dtype: float64

In [26]:
print(train_copy['Sex'])
def sex(example):
    if example == 'male':
        return 1
    elif example == 'female':
        return 0
    else:
        return example
train_copy['Sex'] = train_copy['Sex'].apply(sex)
train_copy.info()

0        male
1      female
2        male
3        male
4      female
        ...
413      male
414    female
415      male
416      male
417      male
Name: Sex, Length: 418, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    int64
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 36.0+ KB

In [27]:
train_copy = train_copy.drop(columns = ['Name','PassengerId','Cabin','SibSp','Parch','Ticket'],axis = 0)
train_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    418 non-null    int64
 1   Sex       418 non-null    int64
 2   Age       418 non-null    float64
 3   Fare      417 non-null    float64
 4   Embarked  418 non-null    object
dtypes: float64(2), int64(2), object(1)
memory usage: 16.5+ KB

In [28]:
train_copy['Embarked']
#fare_median = int(train_copy['Fare'].mean())
def Fare(example):
    if math.isnan(example):
        return int(example)
    else:
        return int(fare_median)
median_embr = 'C'
S_spisok = []
C_spisok = []
Q_spisok = []
def Embarked(example):
    if example in ['S','C','Q']:
        if example == 'S':
            S_spisok.append(1)
            C_spisok.append(0)
            Q_spisok.append(0)
        if example == 'C':
            S_spisok.append(0)
            C_spisok.append(1)
            Q_spisok.append(0)
        if example == 'Q':
            S_spisok.append(0)
            C_spisok.append(0)
            Q_spisok.append(1)
        return example
    else:
        S_spisok.append(0)
        C_spisok.append(1)
        Q_spisok.append(0)
        return median_embr

#train_copy['Fare'] = pd.to_numeric(train_copy['Fare'], errors=fare_median)
train_copy['Embarked'] = train_copy['Embarked'].apply(Embarked)

train_copy['S'] =  S_spisok
train_copy['C'] = C_spisok
train_copy['Q'] = Q_spisok
train_copy = train_copy.drop(columns = ['Embarked','Fare'],axis = 0)
train_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     418 non-null    float64
 3   S       418 non-null    int64
 4   C       418 non-null    int64
 5   Q       418 non-null    int64
dtypes: float64(1), int64(5)
memory usage: 19.7 KB

In [30]:
X = train_copy

y = data_copy['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)


classification_report_output = classification_report(y_test, y_pred)
classification_report_output

'              precision    recall  f1-score   support\n\n           0       1.00      1.00      1.00        85\n           1       1.00      1.00      1.00        41\n\n    accuracy                           1.00       126\n   macro avg       1.00      1.00      1.00       126\nweighted avg       1.00      1.00      1.00       126\n'

In [289]:
train_copy

     Pclass  Sex       Age  S  C  Q
0         3    1  34.00000  0  0  1
1         3    0  47.00000  1  0  0
2         2    1  62.00000  0  0  1
3         3    1  27.00000  1  0  0
4         3    0  22.00000  1  0  0
..      ...  ...       ... .. .. ..
413       3    1  30.27259  1  0  0
414       1    0  39.00000  0  1  0
415       3    1  38.00000  1  0  0
416       3    1  30.27259  1  0  0
417       3    1  30.27259  0  1  0

[418 rows x 6 columns]

In [17]:
new_data = pd.DataFrame({'Pclass': [3], 'Sex': [1], 'Age': [32], 'S':1, 'C':0, 'Q':0})
predicted_survival = model.predict(new_data)
predicted_survival

array([0], dtype=int64)